#wrapper {
  display:grid;
<<<<<<< HEAD
  background-color:black;
=======
>>>>>>> e81acb61f46dd9f3ea4e198fbc655fe27dc11e01
  grid-auto-rows: minmax(0, auto); 
  grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

header {
    grid-row:1 / 2;
    grid-column: 2 / -2;
<<<<<<< HEAD

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family:'Ariel Narrow Bold';
    text-align: center;
    color: pink;
    background-color: black;
    padding: 40px;
    font-size: larger;
}
nav{
    display: flex;
    justify-content: center;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    background-color: #424242;

}
.hero {
    height: 100px;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    padding-top: 20px;
    background-color: black;
    color:white;
    font-size: medium;
    font-family:'Arial Narrow';
    text-align: center;
=======
    font-family:'Ariel Narrow Bold';
}
nav{
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}
.hero {
    height:550px;
    grid-row: 3 / 4;
    grid-column: 2 / -2;
>>>>>>> e81acb61f46dd9f3ea4e198fbc655fe27dc11e01
}
main {
    grid-row: 4 / 5;
    grid-column: 2 / -2;
<<<<<<< HEAD
    text-align: center;
    color:pink;
    font-size: medium;
    font-family: 'Ariel Narrow Bold';
}
footer{
    grid-row: 5 / 6;
    grid-column: 1 / -1;
    background-color: #424242;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 40px;
    font-family: 'Ariel Narrow Bold';
    font-size: medium;
}
.flex-menu{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
li{
    padding: 1px 50px;
}
a{
    color:white;
    text-decoration: none;
    font-family:'Arial Narrow Bold';
    font-weight:bold;
=======
}
footer{
    grid-row: 5 / 6;
    grid-column: 1 / -1
>>>>>>> e81acb61f46dd9f3ea4e198fbc655fe27dc11e01
}